<!DOCTYPE html>

<!--/* Note the xmlns:* here are completely optional and only meant to     */-->
<!--/* avoid IDEs from complaining about tags/attributes they may not know */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">

<head>
    <title>CoronaVirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1 class="display-3">Corona Virus Tracker</h1>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalCases}"></h1>
        <p class="lead">Reports the cases around the globe</p>
    </div>

        <table class="table ">
            <thead>
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Total Cases
                <th>Difference With Previous Day</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locationStat}">
                <td th:text="${location.getState()}"></td>
                <td th:text="${location.getCountry()}"></td>
                <td th:text="${location.getLatestTotalCases()}"></td>
                <td th:text="${location.getDiffFromPrevDay()}"></td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
